<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UVPD-Utils</title>
    <!-- Latest compiled and minified CSS -->
</head>
<script src={{ url_for('static', filename='dist/cdn/jquery.min.js') }}></script>
<script src={{ url_for('static', filename='dist/cdn/handsontable.full.min.js') }}></script>
<script src={{ url_for('static', filename='dist/cdn/d3.v3.min.js') }}></script>
<script src={{ url_for('static', filename='dist/cdn/c3.min.js') }}></script>
<script src="{{ url_for('static', filename='dist/manifest.js') }}"></script>
<script src="{{ url_for('static', filename='dist/vendor.js') }}"></script>
{% block body %} {% endblock %}
</html>